body{
    /* background-color: rgb(255, 255, 255); */
    background-image: url('./images/iso-republic-lighthouse-coast-02-1100x737.jpg');
}

.pstyle{
    font-weight: bold;color: green;font-size: large;
}

.divcss{
    width: auto;
    height: 200px;
    background-color:palevioletred;
    color: aliceblue;;
}